body {
  height: 100vh;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
  padding-top: 200px;
}

.inputs {
  display: flex;
  gap: 20px;
}

.inputs > input {
  font-size: 20px;
  padding: 10px;
}
#result {
  display: inline;
  font-size: 20px;
  padding: 10px;
}
.buttons {
  display: flex;
  gap: 20px;
}
.buttons > button {
  padding: 5px 15px;
  font-size: 20px;
}

.buttons > button:first-child {
  background-color: white;
  border-color: #ffbd00;
  border-style: solid;

  color: #ffbd00;
}
.buttons > button:nth-child(2) {
  background-color: white;
  border-color: #e36414;
  border-style: solid;

  color: #e36414;
}
.buttons > button:nth-child(3) {
  background-color: white;
  border-color: #283618;
  border-style: solid;
  color: #283618;
}
.buttons > button:last-child {
  background-color: white;
  border-color: #780000;
  border-style: solid;

  color: #780000;
}
