.calculator {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.display {
  background-color: black;
  width: 260px;
  color: white;
  padding: 20px;
  text-align: right;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto repeat(5, 1fr);
  gap: 10px;
  max-width: 300px;
}

.keys > div {
  padding: 20px;
  font-size: 20px;
  border: solid gray 1px;
}

.equal {
  grid-row: span 4;
}
